h1
{
  text-align: center;
  font-family: cursive;
  font-size: 50px;
}
.corner
{
  position: absolute;
  width: 75px;
  height:75px;
  left: 20px;
  top:20px;
}
.purchase
{
  background-color: #ff726f;
  width:125px;
  height:40px;
  color: white;
  display: inline-block;
  position: absolute;
  border-radius: 20px;
  top: 20px;
  right: 50px;
}
.cart
{
  position: absolute;
  right: 30px;
  bottom: 15px;
  background-color: #ff726f;
  width:125px;
  height:40px;
  color: white;
}
